# **Import Function**

In [64]:
import pandas as pd

In [65]:
pd.__version__

'1.3.5'

# **Series**

In [66]:
list_s=[1,2,-3,6.2,'data values']

In [67]:
list_s

[1, 2, -3, 6.2, 'data values']

In [68]:
pd.Series(list_s)

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

In [69]:
type(pd.Series(list_s))

pandas.core.series.Series

In [70]:
series2=pd.Series(  [1,2,3,4])
series2

0    1
1    2
2    3
3    4
dtype: int64

In [71]:
pd.Series([])

<ipython-input-71-87f089e32ed9>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series([])

Series([], dtype: float64)

In [72]:
pd.Series([1,2,3,4],index=['A','B','C','D'])

A    1
B    2
C    3
D    4
dtype: int64

In [73]:
pd.Series([1,2,3,4],index=['A','B','C','D'],dtype=float)

A    1.0
B    2.0
C    3.0
D    4.0
dtype: float64

In [74]:
pd.Series([1,2,3,4],index=['A','B','C','D'],dtype=float,name="Data Values")

A    1.0
B    2.0
C    3.0
D    4.0
Name: Data Values, dtype: float64

In [75]:
scalar_s=pd.Series(0.5)

In [76]:
scalar_s

0    0.5
dtype: float64

In [77]:
scalar_s=pd.Series(0.5,index=[1,2,3])

In [78]:
scalar_s

1    0.5
2    0.5
3    0.5
dtype: float64

In [79]:
pd.Series({'a':1,'b':2})

a    1
b    2
dtype: int64

In [80]:
s4=pd.Series([1,2,3,4,5])
s4[0]

1

In [81]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [82]:
max(s4)

5

In [83]:
min(s4)

1

In [84]:
s4[s4>3]

3    4
4    5
dtype: int64

In [85]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [86]:
s5=pd.Series([3,4,5])

In [87]:
s4+s5

0    4.0
1    6.0
2    8.0
3    NaN
4    NaN
dtype: float64

In [88]:
s4-s5

0   -2.0
1   -2.0
2   -2.0
3    NaN
4    NaN
dtype: float64

# **DataFrame**

In [89]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [90]:
lst=['a','b','c']

In [91]:
lst

['a', 'b', 'c']

In [92]:
pd.DataFrame(lst)

   0
0  a
1  b
2  c

In [93]:
pd.DataFrame([1,2,3],['A','B','C'])

   0
A  1
B  2
C  3

In [94]:
mlist=[[1,2],[3,4],[5,6]]

In [95]:
pd.DataFrame(mlist)

   0  1
0  1  2
1  3  4
2  5  6

In [96]:
d={'ID':[1,2,3,4]}
d

{'ID': [1, 2, 3, 4]}

In [97]:
pd.DataFrame(d)

   ID
0   1
1   2
2   3
3   4

In [98]:
from google.colab import files
 
 
uploaded = files.upload()

Saving hii.xlsx to hii (1).xlsx

In [99]:
import pandas as pd

df=pd.read_excel('hii.xlsx')

In [100]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2,1
89,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
90,48,1,2,124,255,1,1,175,0,0.0,2,2,2,1
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3,1
92,52,1,2,138,223,0,1,169,0,0.0,2,4,2,1

In [101]:
type(df)

pandas.core.frame.DataFrame

In [102]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [103]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [104]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [105]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2,1
89,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
90,48,1,2,124,255,1,1,175,0,0.0,2,2,2,1
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3,1
92,52,1,2,138,223,0,1,169,0,0.0,2,4,2,1

In [106]:
df=pd.read_excel('hii.xlsx',dtype={'age':'float64'})

In [107]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37.0,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41.0,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57.0,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,54.0,0,2,110,214,0,1,158,0,1.6,1,0,2,1
89,58.0,0,0,100,248,0,0,122,0,1.0,1,0,2,1
90,48.0,1,2,124,255,1,1,175,0,0.0,2,2,2,1
91,57.0,1,0,132,207,0,1,168,1,0.0,2,0,3,1
92,52.0,1,2,138,223,0,1,169,0,0.0,2,4,2,1

In [108]:
#if we chnage value true false or what we need so just write true_values=[''] & false_values=['']

# **Handling Missing values**

In [109]:
df=pd.read_excel('hii.xlsx')

In [110]:
df.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,False,False,False,False,False,False,False,False,False,False,False,False,False,False
89,False,False,False,False,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,False,False,False,False
92,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [111]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [112]:
df.isnull().sum().sum()

0

In [113]:
df.notnull().sum().sum()

1302

In [114]:
import numpy as np
sr=pd.Series([1, 2, 3, np.nan, 4, np.nan], [1, 2, 3, 4, 5, 6])
sr

1    1.0
2    2.0
3    3.0
4    NaN
5    4.0
6    NaN
dtype: float64

In [115]:
sr.isnull()

1    False
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [116]:
sr.isnull().sum()

2

In [117]:
sr.dropna()

1    1.0
2    2.0
3    3.0
5    4.0
dtype: float64

In [118]:
sr.dropna(axis=0)

1    1.0
2    2.0
3    3.0
5    4.0
dtype: float64

In [119]:
sr.dropna(how='any')

1    1.0
2    2.0
3    3.0
5    4.0
dtype: float64

In [120]:
sr.dropna(how='all')

1    1.0
2    2.0
3    3.0
5    4.0
dtype: float64

In [121]:
df = pd.DataFrame({'A': [1, np.nan, 3, np.nan],
                   'B': [4, np.nan, np.nan, np.nan],
                   'C': [7, 8, np.nan, 10]})

In [122]:
df

     A    B     C
0  1.0  4.0   7.0
1  NaN  NaN   8.0
2  3.0  NaN   NaN
3  NaN  NaN  10.0

In [123]:
df = df.dropna(thresh=2)

In [124]:
df

     A    B    C
0  1.0  4.0  7.0

In [125]:
df = pd.DataFrame({'A': [1, np.nan, 3, np.nan],
                   'B': [4, np.nan, np.nan, np.nan],
                   'C': [7, 8, np.nan, 10]})
df.dropna(subset=['A'])

     A    B    C
0  1.0  4.0  7.0
2  3.0  NaN  NaN

In [126]:
df = pd.DataFrame({'A': [1, np.nan, 3, np.nan],
                   'B': [4, np.nan, np.nan, np.nan],
                   'C': [7, 8, np.nan, 10]})
df.dropna(inplace=True)
df

     A    B    C
0  1.0  4.0  7.0

In [127]:
df = pd.DataFrame({'A': [1, np.nan, 3, np.nan],
                   'B': [4, np.nan, np.nan, np.nan],
                   'C': [7, 8, np.nan, 10]})

In [128]:
df.fillna(0)

     A    B     C
0  1.0  4.0   7.0
1  0.0  0.0   8.0
2  3.0  0.0   0.0
3  0.0  0.0  10.0

In [129]:
df = pd.DataFrame({'A': [1, np.nan, 3, np.nan],
                   'B': [4, np.nan, np.nan, np.nan],
                   'C': [7, 8, np.nan, 10]})

In [130]:
df.fillna({'A':'none'})

      A    B     C
0   1.0  4.0   7.0
1  none  NaN   8.0
2   3.0  NaN   NaN
3  none  NaN  10.0

In [131]:
df.fillna({'A':'none','B':0})

      A    B     C
0   1.0  4.0   7.0
1  none  0.0   8.0
2   3.0  0.0   NaN
3  none  0.0  10.0

In [133]:
df.fillna(method='pad')

     A    B     C
0  1.0  4.0   7.0
1  1.0  4.0   8.0
2  3.0  4.0   8.0
3  3.0  4.0  10.0

In [135]:
df.fillna(method='bfill')

     A    B     C
0  1.0  4.0   7.0
1  3.0  NaN   8.0
2  3.0  NaN  10.0
3  NaN  NaN  10.0

In [136]:
df.fillna(method='ffill',axis=0)

     A    B     C
0  1.0  4.0   7.0
1  1.0  4.0   8.0
2  3.0  4.0   8.0
3  3.0  4.0  10.0

In [137]:
df.fillna(method='bfill',axis=1)

      A     B     C
0   1.0   4.0   7.0
1   8.0   8.0   8.0
2   3.0   NaN   NaN
3  10.0  10.0  10.0

In [139]:
df.fillna(0,limit=1)

     A    B     C
0  1.0  4.0   7.0
1  0.0  0.0   8.0
2  3.0  NaN   0.0
3  NaN  NaN  10.0

In [141]:
df.fillna(5,inplace=True)

In [142]:
df

     A    B     C
0  1.0  4.0   7.0
1  5.0  5.0   8.0
2  3.0  5.0   5.0
3  5.0  5.0  10.0

In [143]:
df = pd.DataFrame({'A': [1, np.nan, 3, np.nan],
                   'B': [4, np.nan, np.nan, np.nan],
                   'C': [7, 8, np.nan, 10]})

In [144]:
df.replace(to_replace=3,value=5)

     A    B     C
0  1.0  4.0   7.0
1  NaN  NaN   8.0
2  5.0  NaN   NaN
3  NaN  NaN  10.0

In [145]:
df.replace(3,5)

     A    B     C
0  1.0  4.0   7.0
1  NaN  NaN   8.0
2  5.0  NaN   NaN
3  NaN  NaN  10.0

In [147]:
df.loc[0]

A    1.0
B    4.0
C    7.0
Name: 0, dtype: float64

In [150]:
df.loc[1]

A    NaN
B    NaN
C    8.0
Name: 1, dtype: float64

In [153]:
df.loc[0:1]

     A    B    C
0  1.0  4.0  7.0
1  NaN  NaN  8.0

In [154]:
df.loc[:-1]

Empty DataFrame
Columns: [A, B, C]
Index: []

In [156]:
df.loc[-1:1]

     A    B    C
0  1.0  4.0  7.0
1  NaN  NaN  8.0

In [157]:
df.iloc[0]

A    1.0
B    4.0
C    7.0
Name: 0, dtype: float64

In [158]:
df.iloc[[0]]

     A    B    C
0  1.0  4.0  7.0

In [161]:
gr1=df.groupby(by='A')

In [162]:
gr1.groups

{1.0: [0], 3.0: [2]}

In [164]:
g1=df.groupby('A')

In [169]:
g1.groups

{1.0: [0], 3.0: [2]}

In [170]:
g1.mean()

       B    C
A
1.0  4.0  7.0
3.0  NaN  NaN

In [171]:
g1.mean([1,3])

       B    C
A
1.0  4.0  7.0
3.0  NaN  NaN

In [173]:
g1.describe()

        B                                       C                          \
    count mean std  min  25%  50%  75%  max count mean std  min  25%  50%
A
1.0   1.0  4.0 NaN  4.0  4.0  4.0  4.0  4.0   1.0  7.0 NaN  7.0  7.0  7.0
3.0   0.0  NaN NaN  NaN  NaN  NaN  NaN  NaN   0.0  NaN NaN  NaN  NaN  NaN


     75%  max
A
1.0  7.0  7.0
3.0  NaN  NaN

In [174]:
df1=pd.DataFrame({'ID':[1,2,3],'Class':['one','Two','Three']})

In [175]:
df2=pd.DataFrame({'ID':[1,2,3],'section':['A','B','C']})

In [176]:
df1

   ID  Class
0   1    one
1   2    Two
2   3  Three

In [177]:
df2

   ID section
0   1       A
1   2       B
2   3       C

In [180]:
pd.merge(df1,df2,on='ID')

   ID  Class section
0   1    one       A
1   2    Two       B
2   3  Three       C

In [181]:
pd.merge(df1,df2,on='ID',indicator=True)

   ID  Class section _merge
0   1    one       A   both
1   2    Two       B   both
2   3  Three       C   both

In [186]:
sr1=pd.Series([1,2,3])
sr2=pd.Series([4,5,6])

In [187]:
pd.concat([sr1,sr2])

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

In [189]:
pd.concat([sr1,sr2],ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [193]:
 df.pivot_table(index='A',columns='B')

       C
B    4.0
A
1.0  7.0